/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

body {
  // font-family: Monaco;
  // font-family: Menlo;
  // font-family: monospace;
  font-family: Courier, monospace;
}

.page {
  padding: 15px;
}

button {
  background-color: burlywood;
  border: none;
  padding: 4px 8px;
  cursor: pointer;

  &.active {
    border: 2px solid #c08435;
  }
}
